<!-- <!-- <div style="display: block;">
    <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div> -->
  <!-- <canvas 
  style="display: block;background-color: #3a3939;" 
  width="600" 
  height="300" 
  id="canvas" 
  #myCanvas
  
  baseChart 
  [type]="lineChartType" 
  [datasets]="lineChartData" 
  [labels]="lineChartLabels" 
  [options]="mfChartOptions"
  [legend]="lineChartLegend">
</canvas>
  <p> summary works!</p>
   --> -->