<div class= "wrapper">
    <h2> Your Bills Summary</h2>
    <div style="display: block;">
        <canvas baseChart 
          [data]="pieChartDataBills" 
          [labels]="pieChartLabelsBills" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>
</div>
<div class= "wrapper">
    <h2> Your Incomes Summary</h2>
    <div style="display: block;">
        <canvas baseChart 
          [data]="pieChartDataIncomes" 
          [labels]="pieChartLabelsIncomes" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>
</div>


  