<h4> Incomes:  </h4>
<form [formGroup]= "form" (ngSubmit)="onSubmit()">
<mat-form-field appearance="fill"  >
    <mat-label>Title</mat-label>
        <input formControlName= "title" matInput>
        <small
        class="error"
        *ngIf="
          !form.controls['title'].valid &&
          form.controls['title'].touched &&
          form.controls['title'].hasError('required')
        ">
        title is required
      </small>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Sum</mat-label>
        <input matInput formControlName= "sum">
        <small
        class="error"
        *ngIf="
          !form.controls['sum'].valid &&
          form.controls['sum'].touched &&
          form.controls['sum'].hasError('required')
        ">
        sum is required
      </small>
      <small
      class="error"
      *ngIf="
        !form.controls['sum'].valid &&
        form.controls['sum'].touched &&
        form.controls['sum'].hasError('pattern')
      ">
      sum is a numner
    </small>
    </mat-form-field>
    <br>
</form>
<button mat-raised-button color="primary"
type= "submit"
(click)= "onSubmit()">
Add income</button>

<mat-expansion-panel hideToggle *ngFor = "let income of incomes">
    <mat-expansion-panel-header>
      <mat-panel-title>
          <b>
            {{income.title}}
          </b> 
             ------- {{income.sum| currency}}
      </mat-panel-title>
      <button mat-mini-fab color="primary"
       (click)= "onDelete(income)">
        <mat-icon>delete </mat-icon>
      </button>
    </mat-expansion-panel-header>
    </mat-expansion-panel>

     <p> Total incomes - {{totalIncomes| currency}} </p>