<div class="form-wrapper">
  <h2 *ngIf="title">{{ title }} :</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="formField-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input [(ngModel)]="title" formControlName="title" matInput />
      <small
        *ngIf="
          !form.controls['title'].valid &&
          form.controls['title'].touched &&
          form.controls['title'].hasError('required')
        "
        class="error"
      >
        title is required
      </small>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sum</mat-label>
      <input formControlName="sum" matInput />
      <small
        *ngIf="
          !form.controls['sum'].valid &&
          form.controls['sum'].touched &&
          form.controls['sum'].hasError('required')
        "
        class="error"
      >
        sum is required
      </small>
      <small
        *ngIf="
          !form.controls['sum'].valid &&
          form.controls['sum'].touched &&
          form.controls['sum'].hasError('pattern')
        "
        class="error"
      >
        sum is a number
      </small>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>start date</mat-label>
      <input formControlName="startDate" matInput type="date" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End date</mat-label>
      <input formControlName="endDate" matInput type="date" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Payment</mat-label>
      <mat-select formControlName="payment">
        <mat-option value="monthly">monthly</mat-option>
        <mat-option value="weekly">weekly</mat-option>
        <mat-option value="bi-monthly">bi-monthly</mat-option>
        <mat-option value="yearly">yearly</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      [disabled]="!this.form.valid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Add bill
    </button>
  </form>
</div>
