<h4> Expenses:  </h4>
<form [formGroup]= "form" (ngSubmit)="onSubmit()">
<mat-form-field appearance="fill"  >
    <mat-label>Title</mat-label>
        <input formControlName= "title" matInput>
        <small
        class="error"
        *ngIf="
          !form.controls['title'].valid &&
          form.controls['title'].touched &&
          form.controls['title'].hasError('required')
        ">
        title is required
      </small>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Sum</mat-label>
        <input matInput formControlName= "sum" name= "sum">
        <small
        class="error"
        *ngIf="
          !form.controls['sum'].valid &&
          form.controls['sum'].touched &&
          form.controls['sum'].hasError('required')
        ">
        sum is required
      </small>
      <small
      class="error"
      *ngIf="
        !form.controls['sum'].valid &&
        form.controls['sum'].touched &&
        form.controls['sum'].hasError('pattern')
      ">
      sum is a number
    </small>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>start date</mat-label>
        <input matInput formControlName= "startDate" type= "date">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>End date</mat-label>
        <input matInput formControlName= "endDate" type= "date">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Payment</mat-label>
     <mat-select formControlName= "payment">
      <mat-option value="monthly">monthly</mat-option>
      <mat-option value="weekly">weekly</mat-option>
      <mat-option value="bi-monthly">bi-monthly</mat-option>
      <mat-option value="yearly">yearly</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button mat-raised-button color="primary"
type= "submit" 
(click)= "onSubmit()">
Update</button>
    




